EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=COLE_AQUI_O_CLIENT_ID_ANDROID
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=COLE_AQUI_O_CLIENT_ID_WEB
EXPO_PUBLIC_MYTHOS_API_URL=https://script.google.com/macros/s/SEU_DEPLOYMENT_ID/exec
